@import url('https://fonts.googleapis.com/css2?family=Glory:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/* Fonts */

/*Header Links hover animation*/
a {
	text-decoration: none;
}

.linkButton {
	border-radius: 7px;
	color: white;
	background-color: #0F5897;
	padding: 5px 10px 8px 10px;
	margin-right: 15px;
}

.linkButton:hover {
    animation-name: linkButtonAnimation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

  @keyframes linkButtonAnimation {
	0% {
		background-color: #0F5897;	
	}
    100% {
      	background-color: #4791d0; 
    }
  }
